<launch>
    <!-- <arg name="focal_lenght"/> -->
    <!-- <arg name="optical_center"/> -->
    <!-- <arg name="camera_extrinsics"/> -->
    <arg name="camera_frame" default="real_sense"/>


    <arg name="observation_freq" default="5"/>

    <arg name="rgba" default="[0,0,0,1]"/>

    <arg name="filters_namespace" default="/camera/filters/"/>

    <arg name="nodelet_name" value="endcap_v2_nodelet" />

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)"  args="manager" output="screen">
      <param name="num_worker_threads" value="8" />
    </node>

    <node pkg="nodelet" type="nodelet" name="TensegrityFilterNodelet" args="load perception/TensegrityFilterNodelet $(arg nodelet_name)" output="screen">
        <param name="subscriber_topic" value="/images/rgb"/>
        <param name="publisher_topic" value="/images/rgb/filtered"/>
        <param name="filters_namespace" value="$(arg filters_namespace)"/>
        <param name="node_id" value="/nodes/TensegrityFilter"/>
        <param name="kernel_sizes" type="yaml" value="[2,3]"/>
        <param name="operations" value="ED"/>
        <param name="tensegrity_pose_topic" value="/tensegrity/pose"/>
        <param name="depth_topic" value="/images/depth"/>
        <param name="use_depth" value="True"/>
        <param name="depth_scale" value="4000"/>
        <param name="camera_frame" value="real_sense"/>
        <param name="world_frame" value="world"/>
        <param name="camera_info_topic" value="/real_sense/info"/>
        <param name="red_markers_topic" value="/tensegrity/endcap/red/marker"/>
        <param name="green_markers_topic" value="/tensegrity/endcap/green/marker"/>
        <param name="blue_markers_topic" value="/tensegrity/endcap/blue/marker"/>
        <param name="red_endcap_topic" value="/tensegrity/endcap/red/positions"/>
        <param name="green_endcap_topic" value="/tensegrity/endcap/green/positions"/>
        <param name="blue_endcap_topic" value="/tensegrity/endcap/blue/positions"/>
    </node>
    
    
</launch>
