<launch>
    <!-- <arg name="focal_lenght" default="[601.67626953125,601.7260131835938]"/> -->
    <!-- <arg name="optical_center" default="[325.53509521484375,248.60618591308594]"/> -->
    <!-- <arg name="camera_extrinsics" default="[1.0,0.0,-0.01,0.743,0.0,-1.0,-0.007,0.082,-0.01,0.007,-1.0,1.441]"/> -->
    <!-- <arg name="data_dir" default="$(env TENSEGRITY_ROS)/data/tensegrity/"/> -->

    <!-- Shutdown NOW -->
    <!-- <arg name="shutdown_topic" default="/tensegrity/shutdown"/>  -->

    <arg name="depth_scale" default="4000"/>

    <include file="$(find perception)/launch/tensegrity_endcap.launch">
        <arg name="depth_scale" default="$(arg depth_scale)"/>
        <arg name="observation_freq" default="30"/>
        <arg name="color" default="red"/>
        <arg name="endcap_id" default="4"/>
        <arg name="rgba" default="[1,0,0,1]" />
        <arg name="filters_namespace" value="/camera/filters/" />

    </include>

    <include file="$(find perception)/launch/tensegrity_endcap.launch">
        <arg name="depth_scale" default="$(arg depth_scale)"/>
        <arg name="observation_freq" default="30"/>
        <arg name="color" default="green"/>
        <arg name="endcap_id" default="2"/>
        <arg name="rgba" default="[0,1,0,1]" />
        <arg name="filters_namespace" value="/camera/filters/" />
    </include>

    <include file="$(find perception)/launch/tensegrity_endcap.launch">
        <arg name="depth_scale" default="$(arg depth_scale)"/>
        <arg name="observation_freq" default="30"/>
        <arg name="color" default="blue"/>
        <arg name="endcap_id" default="1"/>
        <arg name="rgba" default="[0,0,1,1]" />
        <arg name="filters_namespace" value="/camera/filters/" />
    </include> 

    <!-- <node pkg="nodelet" type="nodelet" name="estimation_nodelet"  args="manager" output="screen">
      <param name="num_worker_threads" value="8" />
    </node> -->
    <!-- <node pkg="nodelet" type="nodelet" name="tensegrity_estimation" 
        args="load estimation/TensegrityEstimation estimation_nodelet" output="screen">
        <param name="red_endcaps_topic" value="/tensegrity/endcap/red/positions"/>
        <param name="green_endcaps_topic" value="/tensegrity/endcap/green/positions"/>
        <param name="blue_endcaps_topic" value="/tensegrity/endcap/blue/positions"/>
        <param name="endcap_ids" type="yaml" value="[1, 2, 4]"/>
        <param name="world_frame" value="world"/>
        <param name="estimation_frequency" value="30"/>
    </node>  -->

    <group ns="viz">
        <node pkg="nodelet" type="nodelet" name="viz_nodelet"  args="manager" output="screen"/>

        <node pkg="nodelet" type="nodelet" name="BarsToMarkers" 
            args="load interface/TensegrityBarsToMarkers viz_nodelet" output="screen">
            <param name="tensegrity_bars_topicname" value="/tensegrity/poses"/>
            <param name="tensegrity_markers_topicname" value="/tensegrity/markers"/>
            <param name="node_id" value="/nodes/BarsToMarkers"/>
        </node>


        <!-- 
        <node pkg="nodelet" type="nodelet" name="RedPositionsViz" 
            args="load utils/TensegrityEndcapsVizPublisher viz_nodelet" output="screen">
            <param name="topic_name" value="/tensegrity/endcap/red/positions"/>
            <param name="accumulate_observations" value="false"/>
        </node>
    
        <node pkg="nodelet" type="nodelet" name="GreenPositionsViz" 
            args="load utils/TensegrityEndcapsVizPublisher viz_nodelet" output="screen">
            <param name="topic_name" value="/tensegrity/endcap/green/positions"/>
        </node>

        <node pkg="nodelet" type="nodelet" name="BluePositionsViz" 
            args="load utils/TensegrityEndcapsVizPublisher viz_nodelet" output="screen">
            <param name="topic_name" value="/tensegrity/endcap/blue/positions"/>
        </node>

        <node pkg="nodelet" type="nodelet" name="RedBarViz" 
            args="load utils/CylinderFromPoseVizPublisher viz_nodelet" output="screen">
            <param name="topic_name" value="/tensegrity/bar/red/pose"/>
            <param name="diameter" value="0.020"/>
            <param name="height" value="0.30"/>
            <param name="color" type="yaml" value="[0.9, 0.1, 0.1, 0.9]"/>
        </node>

        <node pkg="nodelet" type="nodelet" name="BlueBarViz" 
            args="load utils/CylinderFromPoseVizPublisher viz_nodelet" output="screen">
            <param name="topic_name" value="/tensegrity/bar/blue/pose"/>
            <param name="diameter" value="0.020"/>
            <param name="height" value="0.30"/>
            <param name="color" type="yaml" value="[0.1, 0.1, 0.9, 0.9]"/>
        </node>

        <node pkg="nodelet" type="nodelet" name="GreenBarViz" 
            args="load utils/CylinderFromPoseVizPublisher viz_nodelet" output="screen">
            <param name="topic_name" value="/tensegrity/bar/green/pose"/>
            <param name="diameter" value="0.020"/>
            <param name="height" value="0.30"/>
            <param name="color" type="yaml" value="[0.1, 0.9, 0.1, 0.9]"/>
        </node>
        -->
    </group>
 
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_world" 
        args="0 0 0 0 0 0 1 world map" /> -->
</launch>
